<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="module::head"></div>
<body>
<div th:replace="module::top(loginName=${client.clientName})"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="module::spider-dynamic(menus=${client.clientMenus})"></div>
        <main role="main" class="col-md-11 ml-sm-auto col-lg-11 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <button class="btn btn-outline-secondary my-2 my-sm-0" onclick="add()">添加菜单</button>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <caption>系统菜单详情</caption>
                    <thead class="thead-light">
                    <tr>
                        <th>序号</th>
                        <th>名称</th>
                        <th>url</th>
                        <th>级别</th>
                        <th>状态</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="menu,state : ${page.content}">
                        <td th:text="${state.count}"></td>
                        <td th:text="${menu.name}"></td>
                        <td th:text="${menu.url}?:'#'"></td>
                        <td th:switch="${menu.isParent}">
                            <span th:case="1" style="color: green">主菜单</span>
                            <span th:case="2" style="color: yellowgreen">子菜单</span>
                        </td>
                        <td th:switch="${menu.status}">
                            <span th:case="1" style="color: green">正常</span>
                            <span th:case="9" style="color: red">已删除</span>
                        </td>
                        <td th:text="${#dates.format(menu.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td align="center">
                            <button class="btn btn-outline-secondary my-2 my-sm-0" onclick="add()">修改</button>
                            <button class="btn btn-outline-danger my-2 my-sm-0" onclick="add()">删除</button>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div th:replace="module::page(total=${page.getTotalPages()},number=${page.getNumber()}+1)"></div>
        </main>
    </div>
</div>
<script type="text/javascript">
    function base(pageNo) {
        var url = '/stock-info/base?';

        var ex = $('#exchange option:selected') .val();
        if(ex.length>0){
            url = url.concat('exchange=',ex);
        }

        var queryStr = $('#queryStr').val();
        if(queryStr.length>0){
            url = url.concat('&queryStr=',queryStr);
        }

        if(pageNo!=0){
            url = url.concat('&pageNo=',pageNo)
        }

        return url;
    }
    function screen() {
        var url = base(0);
        window.location.href=url;
    }
    function turnPage(pageNo) {
        var url = base(pageNo);
        window.location.href=url;
    }
</script>
</body>
</html>