<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    .col-form-label{
        text-align: right;
    }
</style>
<div th:replace="module::head"></div>
<body>
<div th:replace="module::top(loginName=${client.clientName})"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="module::spider-dynamic(menus=${client.clientMenus})"></div>
        <main role="main" class="col-md-11 ml-sm-auto col-lg-11 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <button class="btn btn-outline-secondary my-2 my-sm-0" data-toggle="modal" data-target="#addUser" >添加用户</button>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">添加用户</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group row">
                                    <label for="userName" class="col-sm-3 col-form-label">用户名称</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="userName" placeholder="请输入真实姓名">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="loginName" class="col-sm-3 col-form-label">登录名</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="loginName" placeholder="请输入登录名">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="password" class="col-sm-3 col-form-label">密码</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" id="password" placeholder="请输入密码">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="password1" class="col-sm-3 col-form-label">确认密码</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" id="password1" placeholder="请再次输入密码">
                                    </div>
                                </div>
                                <div class="form-group row" style="padding-left: 5rem">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="menus" id="inlineCheckbox1" value="option1">
                                        <label class="form-check-label" for="inlineCheckbox1">股票信心</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="menus" id="inlineCheckbox2" value="option2">
                                        <label class="form-check-label" for="inlineCheckbox2">系统管理</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="menus" id="inlineCheckbox3" value="option3">
                                        <label class="form-check-label" for="inlineCheckbox3">房产信息</label>
                                    </div>
                                </div>
                            </form>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-danger" onclick="addClient()">添加</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="result" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle1" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle1">添加结果</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h6>用户添加成功！</h6>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <caption>系统用户详情</caption>
                    <thead class="thead-light">
                    <tr>
                        <th>序号</th>
                        <th>用户名称</th>
                        <th>登录名</th>
                        <th>状态</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="client,state : ${page.content}">
                        <td th:text="${state.count}"></td>
                        <td th:text="${client.clientName}"></td>
                        <td th:text="${client.loginName}"></td>
                        <td th:switch="${client.status}">
                            <span th:case="1" style="color: green">正常</span>
                            <span th:case="9" style="color: red">禁用</span>
                        </td>
                        <td th:text="${#dates.format(client.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td align="center" >
                            <div th:switch="${client.status}" style="display: inline">
                                <button th:case="1" class="btn btn-outline-danger my-2 my-sm-0" onclick="add()">禁用</button>
                                <button th:case="9" class="btn btn-outline-success my-2 my-sm-0" onclick="add()">恢复</button>
                            </div>
                            <button class="btn btn-outline-danger my-2 my-sm-0" onclick="add()">删除</button>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div th:replace="module::page(total=${page.getTotalPages()},number=${page.getNumber()}+1)"></div>
        </main>
    </div>
</div>
<script type="text/javascript">
    function base(pageNo) {
        var url = '/stock-info/base?';

        var ex = $('#exchange option:selected') .val();
        if(ex.length>0){
            url = url.concat('exchange=',ex);
        }

        var queryStr = $('#queryStr').val();
        if(queryStr.length>0){
            url = url.concat('&queryStr=',queryStr);
        }

        if(pageNo!=0){
            url = url.concat('&pageNo=',pageNo)
        }

        return url;
    }
    function screen() {
        var url = base(0);
        window.location.href=url;
    }
    function turnPage(pageNo) {
        var url = base(pageNo);
        window.location.href=url;
    }
    function addClient() {
        $('.alert').prop("hidden",false);
        $('#addUser').modal('hide')
        $('#result').modal('show')
    }
</script>
</body>
</html>