.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
body {
font-size: .875rem;
}

.feather {
width: 16px;
height: 16px;
vertical-align: text-bottom;
}

/*
* Sidebar
*/

.sidebar {
position: fixed;
top: 0;
bottom: 0;
left: 0;
z-index: 100; /* Behind the navbar */
padding: 72px 0 0; /* Height of navbar */
/* box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1); */
}

.sidebar-sticky {
position: relative;
top: 0;
height: calc(100vh - 72px);
/* padding-top: .5rem; */
overflow-x: hidden;
overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar-sticky .card{
    border: 0;
    font-family: KaiTi;
}
.sidebar-sticky .card .card-header{
    padding: 0;
    height: 3rem;
    font-size: 2rem
}
.sidebar-sticky .card .card-header .btn{
    border-radius: 0;
    height: 100%;
    padding: .75rem .75rem .15rem .75rem
}
.sidebar-sticky .card .card-header:first-child{
    border-radius: 0;
}
.sidebar-sticky .card .card-body{
    padding: 0;
}
.sidebar-sticky .card .card-body .btn{
    border-radius: 0;
    margin-top: 1px;
}
.sidebar-sticky .card .card-body:first-child{
    border-radius: 0;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
.sidebar-sticky {
position: -webkit-sticky;
position: sticky;
}
}

.sidebar .nav-link {
font-weight: 500;
color: #333;
}

.sidebar .nav-link .feather {
margin-right: 4px;
color: #999;
}

.sidebar .nav-link.active {
color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
color: inherit;
}

.sidebar-heading {
font-size: .75rem;
text-transform: uppercase;
}

/*
* Content
*/

[role="main"] {
padding-top: 144px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
[role="main"] {
padding-top: 72px; /* Space for fixed navbar */
}
}

/*
* Navbar
*/
.top-color{
    background: #525e69;
}
.top-button-color{
    color: #dae0e5;
    background-color: #525e69;
    border-color: #525e69;
}
.top-button-color:focus{
    box-shadow: none;
}

.spider-color{
    background: #d6dee5;
}

.card .card-header .button-color{
    color: #000000;
    background-color: #d1d9e0;
    border-color: #bfc6cc;
}

.card .card-header .button-color:focus{
    box-shadow: none;
}

.navbar-brand {
padding-top: .75rem;
padding-bottom: .75rem;
padding-left: .75rem;
font-size: 2rem;
}

.navbar .dropdown{
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-right: 2rem;
    font-size: 2rem;
}
.navbar .form-control {
padding: .75rem 1rem;
border-width: 0;
border-radius: 0;
}

.form-control-dark {
color: #fff;
background-color: rgba(255, 255, 255, .1);
border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
border-color: transparent;
box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*.page-link{*/
    /*color: #525e69;*/
    /*border: 1px solid #cdd2d8;*/
/*}*/
.page-link:focus{
    box-shadow: none;
}
.page-link:focus{
    z-index:2;
    outline:0;
    box-shadow:0 0 0 .2rem rgba(227, 225, 226, 0.2)
}
.page-item.active .page-link{
    background-color: #bac3ce;
    border-color: #c3c7cc;
}

.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle{
    color: #ffffff;
    background-color: #525e69;
}