<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Thymeleaf</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/iconfont.js}"></script>
    <style>
        body{
            font-size: 16px;
        }
        .icon {
            width: 3em;
            height: 3em;
            vertical-align: -0.7em;
            fill: #666666;
            overflow: hidden;
        }
        .container{
            width: 100%;
        }
    </style>
</head>
<body>

<div class="container-fluid fixed-top">
    <nav class="navbar navbar-expand-md bg-dark navbar-light ">
        <div class="row container-fluid">
            <div class="col-md-3" >
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-changyongtubiao-xianxingdaochu-zhuanqu-13"></use>
                </svg>
                <span style="color: #666666;font-size: 2em">股票行情采集系统</span>
            </div>
            <div class="col-md-1 offset-md-8 dropdown" style="margin-top: 0.2em;margin-right: 0.5em">
                <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">
                    admin
                </button>
                <div class="dropdown-menu" style="width: 100px">
                    <a class="dropdown-item" href="#">首页</a>
                    <a class="dropdown-item" href="#">修改密码</a>
                    <a class="dropdown-item" href="#">退出</a>
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="container-fluid">
    <div class="container col-md-2">
        <div class="jumbotron text-center" style="margin-bottom:0">

            <h1>我的第一个 Bootstrap 4 页面</h1>
            <p>重置浏览器窗口大小查看效果！</p>
        </div>
    </div>
    <div class="container col-md-10">
        <div class="jumbotron text-center" style="margin-bottom:0">

            <h1>我的第一个 Bootstrap 4 页面</h1>
            <p>重置浏览器窗口大小查看效果！</p>
        </div>
    </div>
</div>
<div class="jumbotron text-center" style="margin-bottom:0">

    <h1>我的第一个 Bootstrap 4 页面</h1>
    <p>重置浏览器窗口大小查看效果！</p>
</div>

</body>
</html>