<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>thymeleaf</title>
    <link rel="stylesheet" th:href="@{/framework/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/framework/css/iconfont.css}">
    <link rel="stylesheet" th:href="@{/framework/css/examples-styles.css}">

    <script type="text/javascript" th:src="@{/framework/js/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/framework/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/framework/js/iconfont.js}"></script>
    <script type="text/javascript" th:src="@{/framework/js/carbon.js}"></script>
    <script type="text/javascript" th:src="@{/framework/js/demo.js}"></script>
</head>
<body>

</body>
</html>